.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  position: relative;
  user-select: none;
}

.child {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
